<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.cocoblue.twitchwebhook.mapper.FormMapper">
    <select id="getStartFormByBroadcasterIdAndType" resultType="Form">
        SELECT *
        FROM stream_notify_form
        WHERE broadcaster_id = #{broadcasterId} AND type = #{type}
    </select>

    <select id="getEndFormByBroadcasterIdAndType" resultType="Form">
        SELECT *
        FROM stream_notify_form
        WHERE broadcaster_id = #{broadcasterId} AND type = #{type} and end_notify = true
    </select>
</mapper>