<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.cocoblue.twitchwebhook.mapper.GameIndexMapper">
    <insert id="insertGameIndex">
        INSERT INTO game_index
        SELECT #{id}, #{name} FROM DUAL
        WHERE NOT EXISTS
            (SELECT * FROM game_index WHERE id = #{id})
    </insert>
</mapper>